// BASICS

::-moz-selection { background: $accent; }
::selection { background: $accent; }

html {
  font-size: 16px;
}

body {
  font-family: $body-fonts;
}

body, p {
  font-size: 1em;
  line-height: 1.5;
}

small {
  line-height: 1;
}

.fa.fa-heart {
  color: $clr-red;
}

// TYPOGRAPHY: HEADINGS

h1 {
  @include font-etica(true);
}

.impact-text, .impact-text > p, .impact-text-large, .impact-text-large > p {
  @include font-etica;
}

h3.block-title,
h4.block-title,
h5.block-title,
h6.block-title {
  font-family: $condensed-fonts;
  letter-spacing: .2em !important;
  text-transform: uppercase !important;
}

h3.block-title {
  font-size: 1rem;
  margin-bottom: 0;
  opacity: .5;
}

h3.block-title + h1 {
  margin-top: 0em;
}

h1, h2 {
  em {
    // font-family: 'Lora', serif;
  }
}

h1.entry-title {
  text-transform: uppercase;
  letter-spacing: 6px !important;

  @media only screen and (max-width: 767px) {
    letter-spacing: 4px !important;
  }
}

.large h1 {
  font-size: 6rem;
  line-height: 1.1;
}

.special-heading h3 {
  position: relative;
  padding-bottom: 1em;
  margin-bottom: 1em;

  &:after {
    position: absolute;
    content: "";
    height: 2px;
    width: 40px;
    bottom: 0;
    left: 0;
    background: $clr-orange;
  }
}

.spb-row-container[data-row-style="light"] {
  h1, h2, h3, h4, h5, h6, p {
    color: $white;
  }
}

@media only screen and (max-width: 767px) {
  .spb_text_column {
    padding-left: 30px;
    padding-right: 30px;
  }
}

table thead th {
  letter-spacing: 1px;
}

// .tooltip-inner {
//   padding: 3px 8px 4px;
//   border-radius: 2px;
//   font-size: .85em;
//   letter-spacing: -1px;
// }
//
// .tooltip.top {
//   margin-top: -5px;
// }
// .tooltip.top .tooltip-arrow {
//   border-top-color: #222;
//   margin-left: -5px;
//   bottom: -5px;
//   border-width: 5px 5px 0;
// }

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 2px;
  font-size: .85em;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000;
}

// MISC

ul.social-icons {
  overflow: visible !important;
}

span.highlighted {
  display: inline-block;
  padding: .1em .25em .07em .2em;
  border-radius: 3px;

  a {
    color: #fff;
  }
}

.image-banner-overlay {
  position: relative;
}

.image-banner-overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  z-index: 3;
}

.sf-promo-bar.promo-button > * {
  vertical-align: middle;
}

.sf-promo-bar.promo-button p,
.sf-promo-bar.promo-button a {
  display: inline-block;
  margin: 15px !important;
}

.spb_parallax_asset {
  box-shadow: none;
}

.no-shadow {
  box-shadow: none;
}

.lSAction > a {
  z-index: 100;
}

.muted {
  opacity: .5;
}

.text-white {
  color: #fff !important;
}

.uppercase {
  text-transform: uppercase;
}

// MAINTENANCE PAGE
.page-maintenance .social-icons.large {
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    color: #fff;
  }
}
