// FOOTER
#footer.footer-divider,
#copyright.copyright-divider {
  border: 0;
}

#footer {
  background-image: linear-gradient(to bottom right, rgba(shade($clr-deep-purple-800, 70), 1), rgba($clr-deep-purple, .6));  padding-top: 80px;
  overflow: hidden;

  h1, h2, h3, h4, h5, h6 {
    color: inherit;
    margin-top: 0;
  }
}

#footer-widgets .widget {
  padding-bottom: 80px;

  p {
    font-size: .9rem;
    line-height: 1.4;
  }

  .social-icons a {
    color: #fff;
  }

  .info {
    // display: inline-block;
    font-size: .9rem;
    color: #fff;
    font-weight: 700;
    // border: 1px dashed rgba(#fff, .5);
    // border-radius: 3px;
    // padding: .3em .5em;
    // opacity: .5;
  }

  .footer-social-2 {
    color: $accent;
  }

  @media only screen and (max-width: 767px) {
    text-align: center;
  }
}

#copyright {
  background-color: #fff !important;
  color: $clr-grey-600;

  .text-left {
    color: inherit;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 0;

    img.afx {
      height: 30px;
      margin: 0 .1em;
      opacity: .6;
      // vertical-align: middle;
      vertical-align: -10px;
    }

    @media only screen and (max-width: 991px) {
      line-height: 1.4;
    }
  }

  nav .menu li {
    font-family: $menu-fonts;
    font-size: .75rem;
    text-transform: uppercase;
    letter-spacing: 0;

    a,
    &.non-link span {
      padding: 0 8px;
    }

    @media only screen and (max-width: 991px) {
      line-height: 1.4;
    }
  }

  @media only screen and (max-width: 991px) {
    .text-left {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }

    .footer-menu {
      padding-bottom: 3rem;
    }
  }
}
