
@keyframes logospin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#home-hero {
  position: relative;

  text-shadow: 0 0 10px rgba(#000, .3);

  .spb-row-container.spb-row-full-width section.container {
    overflow: visible;
  }

  .row-overlay {
    background-image: linear-gradient(to bottom, shade($clr-deep-purple-900, 70) 0%, shade($clr-pink-900, 70) 100%);
    background-attachment: fixed;
    opacity: .7 !important;
  }

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 6px;

    background-color: $clr-light-blue-500;
    background-image: linear-gradient(to right, $clr-light-blue-500, $clr-amber-500, $clr-purple, $clr-pink-300);
  }

  .gradient-logo img {
    animation: spin 90s infinite linear;
  }

  // .mouse {
  //   position: absolute;
  //   // left: calc(50% - 27px/2);
  //   bottom: 0;
  //   right: 0;
  //   margin: 40px;
  //   width: 27px;
  //   z-index: 2;
  // }
  //
  // .mouse-icon {
  //   width: 25px;
  //   height: 40px;
  //   border: 2px solid white;
  //   border-radius: 15px;
  //   // cursor: pointer;
  //   position: relative;
  //   text-align: center;
  // }
  //
  // .mouse-wheel {
  //   height: 8px;
  //   margin: 2px auto 0;
  //   display: block;
  //   width: 3px;
  //   background-color: white;
  //   border-radius: 50%;
  //   -webkit-animation: 1.6s ease infinite wheel-up-down;
  //   -moz-animation: 1.6s ease infinite wheel-up-down;
  //   animation: 1.6s ease infinite wheel-up-down;
  // }

  .home-featured {
    @extend .bg-dark;
    // backdrop-filter: blur(50px);
    background: transparent !important;

    // &:before {
    //   display: block;
    //   position: absolute;
    //   content:'';
    //   top: 0;
    //   width: 10px;
    //   height: 10px;
    //   border-radius: 50%;
    //   left: 50%;
    //   transform: translateX(-50%);
    //   background: #fff;
    //   box-shadow: 20px 0 #fff, -20px 0 #fff;
    // }
  }
}

// @-webkit-keyframes wheel-up-down {
//   0% {
//     margin-top: 2px;
//     opacity: 0;
//   }
//   30% {
//     opacity: 1;
//   }
//   100% {
//     margin-top: 20px;
//     opacity: 0;
//   }
// }
//
// @-moz-keyframes wheel-up-down {
//   0% {
//     margin-top: 2px;
//     opacity: 0;
//   }
//   30% {
//     opacity: 1;
//   }
//   100% {
//     margin-top: 20px;
//     opacity: 0;
//   }
// }
//
// @keyframes wheel-up-down {
//   0% {
//     margin-top: 2px;
//     opacity: 0;
//   }
//   30% {
//     opacity: 1;
//   }
//   100% {
//     margin-top: 20px;
//     opacity: 0;
//   }
// }

#home-latest {
  .home-bestsellers {
    @extend .bg-dark;

    background-color: shade($clr-deep-purple-900, 80) !important;
    // background-image: linear-gradient(to bottom left, shade($clr-deep-purple-900, 90), rgba(darken($clr-deep-purple-500, 30), .8));

  }
}

// #home-chhh {
//   display: none;
//
//   .spb-row-container {
//     .row-overlay {
//       background-image: linear-gradient(to top right, rgba($green, .2), rgba($clr-deep-purple, .5));
//     }
//
//     blockquote {
//       position: relative;
//       margin-left: 0;
//
//       p {
//         font-size: 2rem;
//         font-weight: 400;
//         line-height: 1;
//         letter-spacing: -1px;
//       }
//
//       footer {
//         text-align: right;
//         font-size: 1rem;
//         font-style: normal;
//         font-weight: 400;
//         text-transform: uppercase;
//         letter-spacing: 3px;
//         line-height: 1;
//         opacity: .4;
//       }
//
//       &:before {
//         position: absolute;
//         content: '';
//         width: 140px;
//         height: 140px;
//         background: url(../images/quote.svg) no-repeat;
//         background-size: cover;
//         opacity: .1;
//         z-index: 0;
//         top: -50px;
//         right: 0;
//       }
//     }
//   }
// }

#home-whatsapp {
  .spb-row-container {
    .row-overlay {
      // background-color: transparent !important;
      // background-image: linear-gradient(to top right, rgba($whatsapp-green, 0), rgba($clr-deep-purple-900, 1));
      background-image: radial-gradient(ellipse farthest-corner at left top, rgba($whatsapp-green, 0) 30%, rgba($clr-deep-purple-900, 1));
    }

    h3 {
      margin: 1.5em 0 1em;
      font-size: 2rem;
      line-height: 1;
      letter-spacing: -1px;
    }
  }
}

#home-ztd {
  .spb-row-container {
    background-image: linear-gradient(to bottom, rgba($turquoise, .2), rgba(#fff, 0));

    span.highlighted {
      background: $turquoise !important;
    }
  }
}

#home-ustazasri {
  .spb-row-container {
    background-color: tint(#96d7d4, 80);
    background-image: linear-gradient(to bottom left, tint(#96d7d4, 30), tint(#96d7d4, 90));


    padding-top: 4rem;

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;

      background-image: url(../images/flower.png);
      background-repeat: no-repeat;
      background-position: top;
    }

    h1 {
      color: shade(#5ebab6, 60);

      span.highlighted {
        background-color: #5ebab6 !important;
      }
    }
  }
}

#home-tilawah {
  .spb-row-container {
    @extend .bg-dark;

    position: relative;
    background-color: shade($clr-deep-purple-900, 90) !important;
    background-image: linear-gradient(to bottom right, rgba($clr-red-400, .2), rgba(darken($clr-light-blue-500, 30), .8));

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 0;

      background-image: url(../images/tilawah.png);
      background-repeat: no-repeat;
      background-position: top;
      background-size: 700px;
    }

    h3.block-title {
      opacity: 1;
      color: tint($red, 50);
    }

    span.highlighted {
      // background: saturate(lighten(mix(#2c262d, #813918, 50), 20), 20) !important;
      background: $red !important;
    }
  }
}

// SOCIAL GRID
#home-socialgrid {
  .blog-grid-items .blog-item h2.tweet-text,
  .blog-grid-items .instagram-item .inst-overlay h2 {
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 1em;
  }

  .blog-grid-items .blog-item .author,
  .blog-grid-items .blog-item .date {
    font-size: .9em;
    letter-spacing: 0;
  }

  @media only screen and (max-width: 1024px) {
    .blog-grid-items .blog-item.col-sm-sf-5 {
      width: 33.33%;
    }
  }

  @media only screen and (max-width: 767px) {
    .blog-grid-items .blog-item.col-sm-sf-5 {
      width: 50%;

      &:last-child {
        display: none;
      }
    }
  }
}

#home-promobar {
  .sf-promo-bar {
    background-color: shade($clr-deep-purple-800, 30);
    background-image: linear-gradient(to bottom right, rgba($clr-orange, .5), rgba($purple, 0));

    > p {
      color: #fff;
    }

    > a.sf-button {
      border-radius: 0;
      border-width: 3px;
      font-weight: 900;
      letter-spacing: 5px;
    }

    @media only screen and (max-width: 767px) {
      background-color: #fff;
      background-image: linear-gradient(to bottom right, rgba($clr-deep-purple-800, .1), rgba(#fff, 0));
      $color: $clr-deep-purple-900;
      color: $color;
      > p {
        color: $color;
      }
      > a.sf-button.bordered.white {
        background: none;
        color: $color !important;
        border-color: $color !important;
      }
    }
  }
}
