// NAVIGATIONS

#main-nav,
#header nav,
.vertical-menu nav,
.header-9#header-section #main-nav,
#overlay-menu nav,
#mobile-menu,
#one-page-nav li .hover-caption,
.mobile-search-form input[type="text"] {
  font-family: $menu-fonts;
  font-size: .75rem;
  letter-spacing: 2px;
  font-weight: 400;
}

nav.std-menu ul.sub-menu>li>a,
nav.std-menu ul.sub-menu>li>div.current-language {
  font-size: .75rem;
  padding: 0;
  line-height: 2.5;
}

#mobile-header {
  border-bottom: none;
}

.mobile-search-form {
  input[type=text] {
    border-bottom: 1px solid rgba($lightgrey, .2);
    border-radius: 0 !important;
  }
  input[type=text]:focus {
    border: 0;
    border-bottom: 1px solid rgba($lightgrey, .2);
  }
}

nav .menu > li.menu-item > a, nav.std-menu .menu > li > a {
  transition: height .3s ease-in-out, line-height .3s ease-in-out, color .3s ease-in-out !important;
}

li.menu-item span.menu-item-text>i, li.menu-item span.title>i {
  vertical-align: baseline;
}

nav.std-menu ul.sub-menu>li>a,
nav.std-menu ul.sub-menu>li>div.current-language {
  letter-spacing: 2px;
}

nav.std-menu ul.menu > li {
  > a > span.menu-item-text {
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 0;
      height: 1px;
      bottom: -3px;
      left: 0;
      background: $accent;
      transition: all .3s ease;
    }
  }
  &:hover {
    > a > span.menu-item-text:after {
      width: 20px;
    }
  }
}

nav.std-menu li.account-item > ul.sub-menu {
  padding: 10px 20px;
}

.sf-mega-menu .sub-menu {
  background-color: transparent !important;
}

.sf-mega-menu > .sub-menu {
  margin-top: -1px !important;

  > div > li.menu-item {
    padding: 30px 0 !important;
  }
}

.shop-megamenu .container {
  background-color: #fff;
  background-image:
    // linear-gradient(to right, #fff 60%, transparent),
    url(../images/shopmenu1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  box-shadow: 1px 1px 5px rgba(#000, .07);
}

.cart-not-empty .num-items {
  color: $clr-orange;
}
//
// .account-item,
// .shopping-bag-item {
//   > a:after {
//     content: "\e60d";
//     font-family: 'atelier';
//     position: absolute;
//     bottom: 5%;
//     left: 50%;
//     height: 15px;
//     line-height: 15px;
//     font-size: 12px;
//     // opacity: 0;
//     transition: all .3s ease;
//   }
//   //
//   // &:hover > a:after {
//   //   bottom: 5%;
//   //   opacity: 1;
//   // }
// }
