@mixin font-etica($styling: false) {
  font-family: 'lft-etica', 'Oswald', sans-serif !important;

  @if ($styling) {
    letter-spacing: -.055em !important;
    font-style: italic !important;
    line-height: .9 !important;
    text-transform: uppercase !important;
  }
}

@mixin fancy-hover($link-text: $black, $hover-bg: $lightgrey, $hover-text: $black) {
  background-size: 200.22% auto;
  background-position: -0% 0;
  background-image: linear-gradient(to right, rgba(#fff,0) 50%, $hover-bg 50%);
  color: $link-text !important;
  transition: all .3s ease;

  &:hover {
    background-position: -99.99% 0;
    color: $hover-text !important;
  }
}

@mixin clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}
